:root {
  --theme-color: white;
  --image-overlay-opacity: 75%;
  --slide-duration: 200s;
}

#song-container.with-image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: var(--image-url);
  opacity: var(--image-overlay-opacity, 100%);
  filter: blur(10px);

  animation: bg-slide linear var(--slide-duration, 200s) infinite;
}

#song-container.with-image * {
  z-index: 1;
}

#song-info :is(h1, h2) {
  text-shadow: 0px 1px 5px #fff5;
}

@keyframes bg-slide {
  0% {
    transform: scale(200%);
    background-position: 50% 50%;
  }
  10% {
    transform: scale(300%);
    background-position: 50% 25%;
  }
  20% {
    transform: scale(300%);
    background-position: 50% 75%;
  }
  30% {
    transform: scale(300%);
    background-position: 30% 70%;
  }
  40% {
    transform: scale(300%);
    background-position: 25% 50%;
  }
  50% {
    transform: scale(200%);
    background-position: 50% 50%;
  }
  60% {
    transform: scale(300%);
    background-position: 25% 50%;
  }
  70% {
    transform: scale(300%);
    background-position: 75% 50%;
  }
  80% {
    transform: scale(300%);
    background-position: 70% 30%;
  }
  90% {
    transform: scale(300%);
    background-position: 50% 25%;
  }
  100% {
    transform: scale(200%);
    background-position: 50% 50%;
  }
}
