body {
    background: #212121;
    color: white;
}

.option {
    margin: 1rem;
    border: #fff4 solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.code {
    font-family: monospace;
    background: #121212;
    padding: 0 0.25rem;
    margin: 0 0.1rem;
    border-radius: 0.3rem;
    border: #fff3 solid 1px;
}

.explanation {
    max-width: 30rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: #fff3 solid 1px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h4 {
    margin-top: 0;
}
