html[data-cs-hpos='right'] #song-container {
  right: 0;
  transform-origin: right;
}
html[data-cs-hpos='left'] #song-container {
  left: 0;
}
html[data-cs-vpos='top'] #song-container {
  top: 0;
}
html[data-cs-vpos='bottom'] #song-container {
  bottom: 0;
}
